version: 2

# build workflow with 3 jobs, build, test, and deploy
# the test job uses the machine executor
# build and deploy use docker, any image
# test uses...remote docker.

jobs:
  build:
    docker:
      - image: circleci/python:latest

    steps: 
    - run: echo "Hi Al-CC"

  test:
    machine: true    
    steps:
    - run: echo "Hi Al-BB"

  deploy:
    docker:
      - image: circleci/python:latest

    steps:
    - run: echo "Chris be holding back!"

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
