version: 2.1
jobs:
  build:
    docker:
      - image: 'circleci/python:latest'
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run: echo 'hello world from the build step'

  test:
    docker:
      - image: 'circleci/python:latest'

    steps:
      - checkout
      - run: echo 'hello world from the test step'

  deploy:
    docker:
      - image: 'circleci/python:latest'

    steps:
      - run: echo 'This is the final deploy step'

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build 
      - hold:
          type: approval 
          requires:
            - test
      - deploy:
          requires:
            - hold
          filters:
            branches:
              only:
                - master




      


